# -----------------------
# Cluster / SLURM outputs
# -----------------------
*.out
slurm-*.out
*.log

# -----------------------
# Raw and processed reads
# -----------------------
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# -----------------------
# K-mer counting outputs
# -----------------------
*.jf
*.histo

# -----------------------
# QC outputs (FastQC / fastp)
# -----------------------
*.zip
*.html
*.json

# -----------------------
# Assemblies (large files)
# -----------------------
*.gfa
*.fasta
*.fa

# -----------------------
# Assembler working directories
# -----------------------
assembly/
read_QC/
Trinity.tmp*/        
chrysalis/
inchworm.*.fa*
read_partitions/
jellyfish.kmers.*.fa*
salmon_outdir/

# -----------------------
# BUSCO outputs (ignore everything)
# -----------------------
busco/
busco_downloads/

# -----------------------
# QUAST outputs (ignore everything)
# -----------------------
quast/

# -----------------------
# Merqury outputs (ignore everything)
# -----------------------
merqury/
*.meryl

# -----------------------
# Keep scripts, configs, docs
# -----------------------
!scripts/
!*.sh
!*.md
!*.gitignore

# -----------------------
# mummer outputs (ignore everything)
# -----------------------
*.gp
*.fplot
*.filter
*.delta
*.rplot